#banner {
    background-color: var(--banner-color);
    padding-top: 131px;
    text-align: center;
}
#banner h2 {
    margin-bottom: 77px;
    color: var(--black-text);
}
h2 span {
    font-weight: 900;
}
.image__container{
    position: relative;
    top: -50%;
    z-index: 1; 
}
.imageWrapper {
    position: relative;
}
#banner .link{
    font-size: 14px;
    background-color: var(--link-big-color);  
    color: var(--bg-color);
    padding: 13.5px 21px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.banner__image {
    width: 100%;
    position: relative;
    z-index: 1;
}
@media (max-width: 1200px) {
    #banner{
        padding: 56px 16px 358px 16px;
    }
    .banner__container h2 {
        margin-bottom: 37px;
    }
    .banner__image{
        display: none;
    }
    .banner__container .link{
        position: static;
        font-weight: 400;
        font-family: 'Hind';
    }
}