.burger{
    position: absolute;
    top: 16px;
    left: 16px;
    display: none;
    flex-direction: column;
    gap: 6px;
    padding: 6px 3px;
    z-index: 1000;
}
.burger__line{
    width: 18px;
    height: 1px;
    background-color: var(--black-text);
}
#dark__theme .burger__line{
    background-color: blue;
  }
  
@media (max-width: 768px) {
    .burger{
        display: flex;
    }
}