footer{
    font-family: 'Hind';
    background-color: #2C2C2C;;
    color: white;
    padding: 48px 71px 257px 71px;
    position: relative;
}
footer h3{
    font-size: 24px;
    margin-bottom: 0;
}
.footer__container{
    position: relative;
    display: flex;
    justify-content: space-between;
}
footer img{
    position: relative;
    bottom: 0;
    width: 120px;
}
footer section{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
footer a{
    color: white;
    text-align: left;
}
@media (max-width: 800px) {
    footer{
        padding: 25px 0 40px 0;
    }
    .footer__container{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 32px;
    }
    footer a{
        text-align: center;
    }
}